---
import { fade, slide } from 'astro:transitions';
import Carousel from '../../../shared/components/ui/Carousel.vue';
const images = [
	'https://picsum.photos/id/229/600/300',
	'https://picsum.photos/id/230/600/300',
	'https://picsum.photos/id/231/600/300',
	'https://picsum.photos/id/232/600/300',
	'https://picsum.photos/id/233/600/300'
];
---

<section class="font-[Montserrat]">
	<div class="absolute flex items-center justify-right w-full h-full">
		<div class="text-center max-w-3xl p-5 m-5 rounded-xl bg-zinc-700 bg-opacity-15 shadow-xl backdrop-blur-lg"
			transition:animate={slide({ duration: '0.9s' })}>
			<h1
				class="text-4xl font-bold text-gray-900 "
			>
				Transforma, controla y optimiza tu negocio con IA desde WhatsApp
			</h1>
			<p class="mt-6 text-xl text-gray-200 ">
				Consulta horarios, agenda citas, resuelve tus dudas, agiliza tu tiempo y
				mejora la satisfacción de tus clientes con nuestro avanzado bot de IA desde de WhatsApp.
			</p>
			<div class="mt-8">
				<a href="/business"
					class="px-6 py-3 text-lg md:text-xl bg-cyan-400 text-gray-800 font-semibold rounded-lg hover:bg-yellow-200 transition w-full md:w-auto text-center"
				>
					Descubre nuestra solución
				</a>
			</div>
		</div>
	</div>
  <Carousel images={images} interval={3000} client:load></Carousel>
</section>
